.title {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.weatherapp {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-data {
    display: flex;
    width: 36%;
    margin: auto;
    justify-content: center;
/* padding pushes from inside inside margin pushes from outside */

}

#button {
    font-size: 14px;
    margin: 5px;
    border-radius: 50px;
    padding: 5px;
}

#.h11 {
    display: flex;
    justify-content: center
}


